<% num_wrong = @status[:incorrect_guesses].length %> 

<img class="icons" src="<%=@status[:images][num_wrong] %>" alt="Hipster icons">

<div class="game">
<h3> <%= @status[:word].join(" ") %> </h3>

<% if @message %>
<p> <%= @message %> </p>
<% end %>


<% def pluralize(number, text) %>
  <% return "#{text}es" if number != 1 %>
  <% text %>
<% end %>

<p> 
  <%= "You have #{5-num_wrong} more incorrect #{pluralize(5-num_wrong, "guess")}." %>
</p>

<p>
  Incorrect guesses: <br/>
  <%= @status[:incorrect_guesses].join(", ") %>
</p>
<form action="/game" method="post">
  <label for="guess">Guess a letter or attempt to guess the word: </label><br/>
  <input type="text" name="guess" id="guess" placeholder="Enter your guess here.">
</form>

</div>
