<% num_wrong = @status[:incorrect_guesses].length %> 

<img class="icons" src="<%=@status[:images][num_wrong] %>" alt="Hipster icons">

<div class="game">
<h3> <%= @status[:word].join(" ") %> </h3>

<% if @message %>
<p> <%= @message %> </p>
<% end %>

<% if 5-num_wrong > 1 %>
  <% guess_es = "guesses" %>
<% else %>
  <% guess_es = "guess" %>
<% end %>

<p> 
  <%= "You have #{5-num_wrong} more incorrect #{guess_es}." %>
</p>

<p>
  Incorrect guesses: <br/>
  <%= @status[:incorrect_guesses].join(", ") %>
</p>
<form action="/game" method="post">
  <label for="guess">Guess a letter or attempt to guess the word: </label><br/>
  <input type="text" name="guess" id="guess" placeholder="Enter your guess here.">
</form>

</div>
